body {
	background-color: #333333;
	margin: 0px;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
canvas {
	background: #000;
	position:relative;
	background-size:cover;
}
.icon{
	z-index:100;
	position: absolute;
	top:20px;
	left:20px;
}
.icon img{

	width:50px;
}